body { 
    margin: 0;

}

#nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#nav a{
    margin-right: 20px;
}

#nav a.Topimage{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
}

#middle {
    margin-top: 300px;
}

#logo {
    text-align: center;
}

#searchbarcontainer {
    text-align: center;
    margin-top: 20px;
}

#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 600px;
    border-radius: 15px;
    border: 2px solid #eeeeee;
}

#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background: rgb(241, 240, 240);
    border-radius: 4px;

}
